{% extends 'base.html' %}
 {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% block body %}
    <form class="bg-white rounded-2 p-4 shadow-dark" action="{{ url_for('otziv') }}" method="POST">
        {{ form.csrf_token }}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{ form.about.label }}</label>
            {{ form.about(class_='form-control') }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{ form.lol.label }}</label>
            {{ form.lol(class_='form-control') }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{ form.star.label }}</label>
            {{ form.star(class_='form-control') }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{ form.post_id.label }}</label>
            {{ form.post_id(class_='form-control') }}
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-danger" type="submit">Зарегистрироваться</button>
        </div>
    </form>
{% endblock %}