<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      {% block title %}{% endblock %}
  </head>
  <body>
      <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div>
        <a href="/" class="nav-link" >
        <p class="text-danger">Abvito</p>
            </a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about">About us</a>
        </li>
      </ul>

        {% block header %}{% endblock %}
    </div>
    </header>

      {% block body %}{% endblock %}

     <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="container-fluid">
              <div class="d-flex justify-content-between">
                  <div class="footer-left">
                    <a href="/terms">Terms and conditions</a>
                      <a href="/privacy">Privacy</a>
                  </div>
                  <div class="footer-right">
                  </div>
              </div>
          </div>
      </footer>
  </body>
</html>
